body {
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 300px;
  margin: auto;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

#light-mode {
  background: #f0f0f0;
  color: #000;
}

#dark-mode {
  background: #333;
  color: #fff;
}

/* Tema escuro */
.dark {
  background: #222;
  color: #fff;
}
