body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

input {
  padding: 8px;
  width: 80%;
}

button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

button.remove {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 0px
}
